 /* General */
@charset "utf-8";
* {
	/*font-family: Raleway, sans-serif;*/
	-webkit-animation: fadein 0.25s;
	-moz-animation: fadein 0.25s;
	-o-animation: fadein 0.25s;
}

@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

body {
	background-color: #D6D6D6;
	background-size: 25%;
	background-image: url("images/bg.jpg");
    height: 100%;
}

.header {
	background-image: url("images/header_2.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #f2f2f2;
	height: 18%;
	letter-spacing: 2px;
	overflow: hidden;
	/*
	-webkit-mask-image: -webkit-gradient(linear, left center, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
	*/
}


.header h1 {
	font-family: 'Libre Baskerville', serif;
	font-size: 75px;
	font-weight: lighter;
	margin-bottom: 75px;
	text-shadow: 1px 1px 8px #000; 
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;		
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.left {
	float: left;
}

.right {
	float: right;
}

h1 a {
	color: #000;
	text-decoration: none;
}

h1 a:hover {
	text-decoration: underline;
}

.r_text {
	display: block;
	width: 100%;
	line-height: 1.75em;
	float: left;
	border-radius: 15px;
	padding: 5px;
	font-size: 1.185em;
}

.holcomb {
	margin: auto;
	width: 49.75%;
	
}

.shearer {
	width: 49.75%;
	margin-top: 50px;
}

.home {
	min-width: 100%;
	height: auto;
	position-margin: auto;
	
}

.i_box {
	font-family: 'Raleway', sans-serif;
	display: block;
	height: 100%;
	width: 80%;
	margin: auto;
	overflow: hidden;
	padding: 5px;
	position: relative;
}

.box_index_title {
	width: 60%;
	height: 10%;
	z-index: 100;
	position: absolute;
	top:29%;
	left:38%;
	opacity: 0.85;
}

.box_index_title h1 {
	font-family: 'Libre Baskerville', serif;
	text-align: right;
	font-size: 50px;
	height: 30%;
	color: white;
	font-weight: bold;
	line-height: normal;
	font-weight: 600;
	text-shadow: 1px 1px 8px #000;
}

.box_index_title p {
	color: white;
	text-align: right;
	font-family: 'Raleway', sans-serif;
	font-size: 30px;			
	font-weight: bold;
	width: 98.7%;
	font-weight:600;
	text-shadow: 1px 1px 8px #000;
}

button{
  background: gray;
  color:#fff;
  border:none;
  position:absolute;
  height:9%;
  font-size:2em;
  font-family: 'Libre Baskerville', serif;
  padding:0 1em;
  cursor:pointer;
  transition:800ms ease all;
  -webkit-transition: 800ms ease all;
    -moz-transition: 800ms ease all;
    -o-transition: 800ms ease all;
  outline:none;
  bottom: 68%;
 margin-left: 65%;
 margin-bottom: -21%;
}

 a {
	text-decoration: none;
}

button:hover{
  background:rgba(189, 32, 49, 1);
  color: white;
  
  
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: white;
  transition:400ms ease all;
    -webkit-transition: 400ms ease all;
    -moz-transition: 400ms ease all;
    -o-transition: 400ms ease all;
	
	
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
    -webkit-transition: 800ms ease all;
    -moz-transition: 800ms ease all;
    -o-transition: 800ms ease all;
}



.index {
	margin-top: .75%;
	width: 100%;
	z-index:-10;
	filter: brightness(65%);
}

/* Nav */
nav {
	letter-spacing: 2px;
	margin-left: -3%;;
}

nav .nav_link {
	display: block;
	position: relative;
	left: 0;
	top: 0;
}

nav ul { 
    list-style-type: none;
    overflow: hidden;
	margin: 0;
}

nav li {
    border-right: 1px solid rgba(0,0,0,0.25);
	color: black;
    float: left;
	text-align: center;
    width: 24.9%;
	margin: 0;
}

nav .last {
	border-right: 0;
} 

nav li a {
	color: black;
	display: block;
	font-family: 'Lato', sans-serif;
    padding: 14px 16px;
	text-align: center;
    text-decoration: none;
}

nav li a, .dropbtn {
	color: black;
	display: inline-block;
	padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

nav li.dropdown {
    display: inline-block;
}

nav .dropdown-content {
	background-color: #f9f9f9;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: none;
    min-width: 160px;
	position: absolute;
}

nav .dropdown-content a {
    color: black;
	display: block;
    padding: 12px 16px;
    text-decoration: none;
    text-align: left;
}

nav .dropdown:hover .dropdown-content {
    display: block;
	z-index: 500;
}

nav > a {
	color: #000;
    position: relative;
    text-decoration: none;
}

nav > a:hover {
    color: #000;
} 

nav > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

nav > a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.hvr-shutter-out-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  background: rgba(0,0,0,0);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-shutter-out-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(189, 32, 49, 1);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-shutter-out-horizontal:hover, .hvr-shutter-out-horizontal:focus, .hvr-shutter-out-horizontal:active {
	color: white;
}

.hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(189, 32, 49, 1);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
}

.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* Footer */
footer {
	font-family: 'Raleway', sans-serif;
	padding: 15px;
	color: #C8C8C8;
	background-color: #444;
	margin-bottom: -20px;
	margin-top: -.3%;
}

/* Index */
.box_link {
	color: black;
	display: block;
	position: relative;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}

.i {
	height: 165px;
	background-color: #F9F9F9;
	margin: auto;
	border-radius: 15px;
	box-shadow: 3px 5px 5px 0px rgba(0,0,0,0.2);
}

.i_heading {
	font-family: 'Libre Baskerville', serif;
	display: block;
	font-size: 35px;
	font-weight: lighter;
	text-align: center;
	width: 30%;
	margin-top: 20px;
	top: 50%;
}

.i_content {
	display: block;
	line-height: 1.75em;
	text-align: justify;
	width: 68%;
	padding: 0px 5px;
	top: 50%;
	margin-top: 10px;
}

/* Design Brief */
.box {
	font-family: 'Raleway', sans-serif;
	display: inline-block;
	height: 100%;
	width: 80%;
	margin: 0 9%;
	overflow: hidden;
	padding: 5px;
	position: relative;
}


.heading {
	font-family: 'Libre Baskerville', serif;
	display: block;
	text-align: center;
	font-weight: 500;
	line-height: 1.5em;
}

.text {
	display: block;
	width: 60%;
	text-indent: 24px;
	line-height: 1.75em;
	float: left;
	border-radius: 15px;
	padding: 5px;
	font-size: 1.185em;
	text-align: justify;
}

.img {
	display: block;
	width: 35%;
	float: right;
	padding: 5px;
}

.img > img {
	width: 100%;
	display: inline-block;
}

.three > img {
	margin-top: 75px;
}

.two > img {
	margin-top: 190px;
}
.four > img {
	margin-top: 120px;
}

/* Architecture */
.a_img {
	width: 300px;
	float: right;
	display: inline-block;
	padding-right: 70px;
	padding-bottom: 50px;
	clear: both;
}

.a_title {
	font-family: 'Libre Baskerville', serif;
	display: block;
	text-align: center;
	font-size: 55px;
}

.a_content {
	padding: 0px 5px;
	width: 50%;
	text-align: justify;
	text-indent: 40px;
	display: inline-block;
	line-height: 30px;
}

/* Entertainment */
.e_title {
	font-family: 'Libre Baskerville', serif;
	display: block;
	text-align: center;
	font-size: 55px;
}

.e_content {
	display: block;
	text-indent: 30px;
	margin: 5px;
	width: 98%;
	height: 50%;
	border-radius: 15px;
	padding: 5px;
	line-height: 1.75em;
	text-align: justify;
}

/* History */
.h_title {
	font-family: 'Libre Baskerville', serif;
	display: block;
	text-align: center;
	font-size: 55px;
}

.h_text {
	display: block;
	width: 100%;
	text-indent: 24px;
	line-height: 1.75em;
	float: left;
	border-radius: 15px;
	padding: 5px;
	font-size: 1.185em;
	text-align: justify;
}


.h_img {
	display: block;
	width: 49%;
	float: right;
}

.h_img img {
	width: 100%;
}

/* Medical */
#medicalfield {
	color: white;
	margin-left: 25%;
	width: 50%;
	margin-right: 25%;
	text-align: center;
}

.medical {
	color: white;
	width: 50%;
	margin-left:25%;
	margin-right:25%;
}

/* Science */

/* Contact */
.header_contact {
    background-image: url("images/contact_header_1.JPG");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #f2f2f2;
	height: 20%;
	letter-spacing: 2px;
	overflow: hidden;
	-webkit-mask-image:-webkit-gradient(linear, left center, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

.header_contact h1 {
	font-family: 'Libre Baskerville', serif;
	font-size: 75px;
	font-weight: lighter;
	margin-bottom: 75px;
	text-shadow: 1px 1px 8px #000; 
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;		
}

.contact {
	background-color: #E3E3E3;
	width: 31.5%;
	display: inline-block;
	text-align: center;
	margin: 20px 7px 60px 2px;
}

.contact h3 {
	text-align: center;
}

.people {
	height: 400px;
}

.contact a {
	text-decoration: none;
	color: black;
}

.contact a:hover {
	text-decoration: underline;
}

/* TSA */
.tsa_header {
	background-image: url("images/tsa_header.JPG");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #f2f2f2;
	height: 28%;
	letter-spacing: 2px;
	overflow: hidden;
	-webkit-mask-image:-webkit-gradient(linear, left center, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

.tsa_header h1 {
	font-family: 'Libre Baskerville', serif;
	font-size: 75px;
	font-weight: lighter;
	margin-bottom: 75px;
	text-shadow: 1px 1px 8px #000; 
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;		
}

.tsa_logo {
	display: block;
    margin: auto;
    width: 30%;
}

.info {
	font-family: 'Libre Baskerville', serif;
}

h2 {
	font-family: 'Libre Baskerville', serif;
}

/* Load Animation */
#loading {
  position: absolute;
  top: 50%;
  left: 50%;
}
.loading-bar {
  display: inline-block;
  width: 4px;
  height: 18px;
  border-radius: 4px;
  animation: loading 1s ease-in-out infinite;
   -webkit-animation: loading 1s ease-in-out infinite; 
}
.loading-bar:nth-child(1) {
  background-color: #3498db;
  animation-delay: 0;
  -webkit-animation-delay: 0;
}
.loading-bar:nth-child(2) {
  background-color: #c0392b;
  animation-delay: 0.09s;
  -webkit-animation-delay: 0.09s;
}
.loading-bar:nth-child(3) {
  background-color: #f1c40f;
  animation-delay: .18s;
  -webkit-animation-delay: .18s;
}
.loading-bar:nth-child(4) {
  background-color: #27ae60;
  animation-delay: .27s;
  -webkit-animation-delay: .27s;
}

@keyframes loading {
  0% {
    transform: scale(1);
	 -ms-transform: transform: scale(1);
    -webkit-transform: transform: scale(1);
  }
  20% {
    transform: scale(1, 2.2);
    -ms-transform: transform: scale(1, 2.2);
    -webkit-transform: transform: scale(1, 2.2);
  }
  40% {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
  }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
  -moz-animation-name: animatebottom; /* Firefox < 16 */
  -moz-animation-duration: 1s;
  transform: translate3d(0,0,0); 
}

@-webkit-keyframes animatebottom {
  from { bottom:-50px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-50px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}
@-moz-keyframes animatebottom {
  from{ bottom:-50px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
}


@media screen and (max-width: 1340px) and (min-width: 1201px) {
.box_index_title {
	width: 60%;
	height: 10%;
	z-index: 100;
	position: absolute;
	top:29%;
	left:38%;
	opacity: 0.85;
}

.box_index_title h1 {
	font-family: 'Libre Baskerville', serif;
	text-align: right;
	font-size: 50px;
	height: 30%;
	color: white;
	font-weight: bold;
	line-height:normal;
	font-weight: 600;
	text-shadow: 1px 1px 8px #000;
}

.box_index_title p {
	color: white;
	text-align: right;
	font-family: 'Raleway', sans-serif;
	font-size: 30px;			
	font-weight: bold;
	width: 98.7%;
	font-weight: 600;
	text-shadow: 1px 1px 8px #000;
}


.box_index {
	width: 25%;
	background-color: #808080;
	height: 9.5%;
	z-index: 100;
	position: absolute;
	top: 50%;
	left: 64%;
	opacity: 0.85;
}

.box_index p {
	text-align:center;
	font-size: 38px;
}

.box_index p a {
	text-decoration: none;
	font-family: 'Libre Baskerville', serif;
	color: white;
	display: block;
	height: 41.5%;
	margin-top: -12%;
	margin-left:-1%;
	width: 85%;
}

.index {
	margin-top: .75%;
	width: 100%;
	z-index:-10;
	filter: brightness(65%);
}
}

@media screen and (max-width:1200px) and (min-width:1001px) { 
nav li {
    border-right: 1px solid rgba(0,0,0,0.25);
	color: black;
    float: left;
	text-align: center;
    width: 23.5%;
	margin: 0;
}

.text {
	display: block;
	width: 100%;
	text-indent: 24px;
	line-height: 1.75em;
	border-radius: 15px;
	padding: 5px;
	font-size: 1.185em;
	text-align: left;
}

.img {
	display: block;
	width: 100%;
	clear: both;
	padding: 5px;
}

.header h1 {
	font-family: 'Libre Baskerville', serif;
	font-size: 50px;
	font-weight: lighter;
	margin-bottom: 75px;
	text-shadow: 1px 1px 8px #000; 
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;		
}

.contact {
	background-color: #E3E3E3;
	width: 100%;
	display: inline-block;
	text-align: center;
	margin: 20px 7px 60px 2px;
	clear: both;
}

.header_contact h1 {
	font-family: 'Libre Baskerville', serif;
	font-size: 50px;
	font-weight: lighter;
	margin-bottom: 75px;
	text-shadow: 1px 1px 8px #000; 
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;		
}

.tsa_header h1 {
	font-family: 'Libre Baskerville', serif;
	font-size: 50px;
	font-weight: lighter;
	margin-bottom: 75px;
	text-shadow: 1px 1px 8px #000; 
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;		
}

.holcomb {
	margin: auto;
	width: 100%;
}

	
	
.shearer {
	width: 100%;
}
.tsa_logo {
	display: block;
    margin: auto;
    width: 70%;
}

.i_content {
	display: block;
	line-height: 1.75em;
	width: 68%;
	padding: 0px 5px;
	top: 50%;
	margin-top: 10px;
	text-align: left;
}

.a_content {
	padding: 0px 5px;
	width: 50%;
	text-indent: 40px;
	display: inline-block;
	line-height: 30px;
	text-align: left;
}

.e_content {
	display: block;
	text-indent: 30px;
	margin: 5px;
	width: 98%;
	height: 50%;
	border-radius: 15px;
	padding: 5px;
	line-height: 1.75em;
	text-align: left;
}

.h_text {
	display: block;
	width: 100%;
	text-indent: 24px;
	line-height: 1.75em;
	float: left;
	border-radius: 15px;
	padding: 5px;
	font-size: 1.185em;
	text-align: left;
}
	
.box_index_title {
	width: 100%;
	height: 10%;
	z-index: 100;
	position: absolute;
	top:32%;
	left:-1%;
	opacity: 0.85;
}

.box_index_title h1 {
	font-family: 'Libre Baskerville', serif;
	text-align: right;
	font-size: 45px;
	height: 30%;
	color: white;
	font-weight: bold;
	line-height:normal;
	font-weight: 600;
	text-shadow: 1px 1px 8px #000;
}

.box_index_title p {
	color: white;
	text-align: right;
	font-family: 'Raleway', sans-serif;
	font-size: 23px;			
	font-weight: bold;
	width: 98.7%;
	font-weight: 600;
	text-shadow: 1px 1px 8px #000;
}

.box_index {
	width: 25%;
	background-color: #808080;
	height: 9.5%;
	z-index: 100;
	position: absolute;
	top: 50%;
	left: 64%;
	opacity: 0.85;
}

.box_index p {
	text-align:center;
	font-size: 33px;
}

.box_index p a {
	text-decoration: none;
	font-family: 'Libre Baskerville', serif;
	color: white;
	display: block;
	height: 41.8%;
	margin-top: -12%;
	margin-left:-1%;
	width: 85%;
}

.index {
	margin-top: 1%;
	width: 100%;
	z-index:-10;
	filter: brightness(65%);
}	
}

@media screen and (max-width:999px) and (min-width: 100px) {
.button {
	display: none;
}

.dd {
	margin-left: -11%;
}

nav li {
    border-right: 1px solid rgba(0,0,0,0.50);
	color: black;
    float: left;
	text-align: center;
    width: 32%;
	margin-left: -8%;
}

nav .nav_link {
	display: block;
	position: relative;
	left: 11%;
	top: 0;
	right: 0;
}

.hvr-shutter-out-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  background: rgba(0,0,0,0);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-shutter-out-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  align-content:center;
  top: 0;
  bottom: 0;
  left: 13%;
  right: 10%;
  background: rgba(189, 32, 49, 1);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-shutter-out-horizontal:hover, .hvr-shutter-out-horizontal:focus, .hvr-shutter-out-horizontal:active {
	color: white;
}

.hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

	.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 90%;
  top: 0;
  left: 0%;
  right: 0;
  bottom: 0;
  background: rgba(189, 32, 49, 1);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
	
.heading {
	font-family: 'Libre Baskerville', serif;
	display: block;
	text-align: center; 
	font-weight: 900;
	line-height: 1.5em;
	font-size: 1.8em;
	margin-right: -2%;
	}

	
.text {
	display: block;
	width: 100%;
	text-indent: 0em;
	line-height: 1.75em;
	padding: 5px;
	font-size: 1em;
	text-align: left;
}

.box {
	margin-left: 5%;
}
.img {
	display: block;
	width: 100%;
	clear: both;
	padding: 5px;
}

.header h1 {
	font-family: 'Libre Baskerville', serif;
	font-size: 50px;
	font-weight: lighter;
	margin-bottom: 75px;
	text-shadow: 1px 1px 8px #000; 
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;		
}

.contact {
	background-color: #E3E3E3;
	width: 100%;
	display: inline-block;
	text-align: center;
	margin: 20px 7px 60px 2px;
	clear: both;
}

.header_contact {
    background-image: url("images/contact_header_1.JPG");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #f2f2f2;
	height: 20%;
	letter-spacing: 2px;
	overflow: hidden;
	-webkit-mask-image:-webkit-gradient(linear, left center, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
	
}
	
.header_contact h1 {
	font-family: 'Libre Baskerville', serif;
	font-size: 50px;
	font-weight: lighter;
	margin-bottom: 75px;
	text-shadow: 1px 1px 8px #000; 
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;		
}

.tsa_header h1 {
	font-family: 'Libre Baskerville', serif;
	font-size: 50px;
	font-weight: lighter;
	margin-bottom: 75px;
	text-shadow: 1px 1px 8px #000; 
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;		
}

.holcomb {
	margin: auto;
	width: 100%;
}

	
	
.shearer {
	width: 100%;
}
.tsa_logo {
	display: block;
    margin: auto;
    width: 70%;
}

.i_content {
	display: block;
	line-height: 1.75em;
	width: 68%;
	padding: 0px 5px;
	top: 50%;
	margin-top: 10px;
	text-align: left;
}

.a_content {
	padding: 0px 5px;
	width: 50%;
	text-indent: 40px;
	display: inline-block;
	line-height: 30px;
	text-align: left;
}

.e_content {
	display: block;
	text-indent: 30px;
	margin: 5px;
	width: 98%;
	height: 50%;
	border-radius: 15px;
	padding: 5px;
	line-height: 1.75em;
	text-align: left;
}

.h_text {
	display: block;
	width: 100%;
	text-indent: 0px;
	line-height: 1.75em;
	float: left;
	border-radius: 15px;
	padding: 5px;
	font-size: 1em;
	text-align: left;
}

.box_index_title {
	width: 100%;
	height: 10%;
	z-index: 100;
	position: absolute;
	top:51%;
	left:-5%;
	opacity: 0.85;
}

.box_index_title h1 {
	font-family: 'Libre Baskerville', serif;
	text-align: right;
	font-size: 25px;
	height: 30%;
	color: white;
	font-weight: bold;
	line-height:normal;
	font-weight: 600;
	text-shadow: 1px 1px 8px #000;
}

.box_index_title p {
	color: white;
	text-align: right;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;			
	font-weight: bold;
	width: 98.7%;
	font-weight: 600;
	text-shadow: 1px 1px 8px #000;
}

.box_index {
	width: 33%;
	background-color: #808080;
	height: 6%;
	z-index: 100;
	position: absolute;
	top: 68%;
	left: 59%;
	opacity: 0.85;
	border: 1px solid red;
}

.box_index p {
	text-align:center;
	font-size: .9em;
}

.box_index p a {
	text-decoration: none;
	font-family: 'Libre Baskerville', serif;
	color: white;
	display: block;
	height: 50%;
	margin-top: -12.5%;
	margin-left:-12%;
	width: 108%;
}


.index {
	margin-top: 1%;
	width: 100%;
	z-index:-10;
	filter: brightness(65%);
}	
}
